{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td><img src="/img/{{ article.img }}"></td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ article.text }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>
                    {% if article.link != null%}
                        <a href="{{ article.link }}">
                            <button>{{ article.label }}</button>
                        </a>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('back_app_article_index') }}">back to list</a>

    <a href="{{ path('back_app_article_edit', {'id': article.id}) }}">edit</a>

    {{ include('back/article/_delete_form.html.twig') }}
{% endblock %}
