{% extends 'base.html.twig' %}

{% block title %}Les utilisateurs{% endblock %}

{% block body %}
    <h1>Les utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Roles</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Vérifié</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('back_user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas encore d'utilisateur</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('back_user_new') }}">Créer un utilisateur</a><br>
    <a href="{{ path('back_default_index') }}">Retour</a>

{% endblock %}
