{% extends 'base.html.twig' %}

{% block title %}Video{% endblock %}

{% block body %}

    <div class="mx-10">
        <video class="w-full" height="400" controls>
            <source src="{{ path('back_app_video_show_video', {'id': video.id}) }}" type="video/mp4">
        </video>

        <p class="text-center mt-10">{{ video.description }}</p>

        <div class="mt-10">
            {% for tag in video.tags %}
                <div class="p-4 rounded-lg border border-solid border-gray-500 w-fit">
                    #{{ tag.label }}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="flex space-x-4 mt-10 mx-10 justify-end">

        <a class="p-4 rounded-lg border-gray-500 border border-solid" href="{{ path('back_app_video_index') }}">Retourner aux vidéos</a>

        <a class="p-4 rounded-lg border-gray-500 border border-solid bg-blue-500" href="{{ path('back_app_video_edit', {'id': video.id}) }}">Modifier</a>
    </div>

    {{ include('back/video/_delete_form.html.twig') }}
{% endblock %}
