{% extends 'base.html.twig' %}

{% block title %}Chapter index{% endblock %}

{% block body %}
    <h1>Chapter index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chapter in chapters %}
            <tr>
                <td>{{ chapter.id }}</td>
                <td>{{ chapter.title }}</td>
                <td>{{ chapter.content }}</td>
                <td>{{ chapter.createdAt ? chapter.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ chapter.updatedAt ? chapter.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('back_chapter_show', {'id': chapter.id}) }}">show</a>
                    <a href="{{ path('back_chapter_edit', {'id': chapter.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
