{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <div class="article">
        <h2>{{ article.title }}</h2>
        <img src="/img/{{ article.img }}">
        <p>
            {{ article.text }}
        </p>
        {% if article.link != null%}
            <a href="{{ article.link }}">
                <button>{{ article.label }}</button>
            </a>
        {% endif %}
    </div>
    <h1>Tags</h1>
    {% for tag in article.tags %}
        <div>{{ tag.label }}</div>
    {% endfor %}

    <a href="{{ path('front_app_article_index') }}">back to list</a>
{% endblock %}
